# install python, run unit tests
name: Python application

on:
  push:
    branches:
      - master
      - test
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Install tkinter Ubuntu
      run: sudo apt install python3-tk
      if: matrix.os == 'ubuntu-latest'
    - name: Run tests
      run: |
        python -m unittest
